.wrapper{
    display: flex;
    justify-content: space-between;
}
.icon-cards{
    width: 350px;
    margin-bottom: 116px;
}
.icon-cards__title{
    color: #333;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
    text-align: center;
}
.icon-cards__img{
    width: 70px;
    height: 70px;
    border: solid 1px #E72424;;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.icon-cards__text{
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
    
}