
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-boxx;
}


.table-for-rocks{
    background-color: gainsboro;
    padding: 200px 0 200px 0;
}
.main-table{
    margin: auto;
    width: 60%;
    border-collapse: collapse;
}
.rows{
    border: solid 1px black;
    
}
.main-table td:nth-child(3){
    text-align: center;
}